.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-inline: 35px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 30px;
    color: var(--color-white);
    cursor: pointer;

    @include hover {
        background-color: var(--color-accent-alt);
    }
}