:root {
    --color-dark: #2A2A2A;
    --color-background: #FFF8F6;
    --color-background-alt: #FFE5CF;
    --color-white: #FFFFFF;
    --color-accent: #E1963C;
    --color-accent-alt: #004E8D;
    --color-gray: #707070;
    --color-field-mob: #2D2D2D;

    --font-family-title: 'Playfair Display', serif;
    --font-family-text: 'Raleway', sans-serif;

    --container-width: 1660px;
    --container-padding-x: 45px;

    --transition-duration: 0.2s;
}